.App {
  margin: auto;
  margin-top: 15vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 80%;
  flex-direction: column;
  border: 2px solid #8dafb9;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 30px rgb(140, 144, 145);}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: #61dafb;
  border-color: #8dafb9;
  border-radius: 30px;
  margin: 20px;
}
@media screen and (max-width: 400px) {
  .App {
    width: auto;
  }
  .button {
    width: 200px;
  }
}


h1 {
  font-size: 40px;
  color: #1a404a;
}

form {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  height: 50px;
}

.todo:nth-child(n+3) {
  border-top: 1px groove;
}


.delete {
  background: none;
  border: none;
}

.delete img {
  max-width: 20px;
}

.notCompletedTodo {
  color: #1a404a;
  text-decoration: none;
  margin: 10px 40px;
}

.completeTodo {
  margin: 10px 40px;
  color: #a6a8ac;
  text-decoration: line-through #3cdcfc 3px;
}

label input {
  display: none;
}

label span {
  height: 12px;
  width: 12px;
  border: 3px solid #3cdcfc;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-radius: 5px;
  padding: 3px;
}

[type=checkbox]:checked+span:before {
  content: '\2714';
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 18px;
  color: #3cdcfc;
}

[type=checkbox]:checked+span {
   border: none;
}

.deleteIcon {
  color: #3cdcfc;
}
